<!doctype html>
<html lang="zxx">

<head>
  <% include ../partial/head.ejs %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.snow.css">
    <style media="screen">
      .img-label img {
        width: 25rem;
      }

      .img-label {
        cursor: pointer;
      }

      /* .img-container {
  max-width: 100%;
} */
    </style>

</head>

<body>

  <div id="wrapper" class="wrapper">

    <!-- BEGIN HEADER -->
    <% include ../partial/header.ejs %>


      <main class="site-content">

        <div class="container no-top-padding">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="shop.html">Profile</a></li>
            <li class="active">My Page</li>
          </ol>
          <header class="page-header">
          <h1>Edit Profile</h1>
          </header>
          <form class="checkout-form form-horizontal" id="frm" method="post" action="/profile" name="frm" enctype="multipart/form-data">
            <input type="hidden" name="user_ids" value="<%= user._id %>">
            <center>
              <div class="form-group">
                <div class="col col-lg-10 col-md-10">
                  <label class="img-label" data-toggle="tooltip" title="Select photo">
                      <img class="rounded" id="photo" src="<%= user.proUrl %>" onerror="this.src= '/images/user.png' alt="Image">
                      <input type="file" class="sr-only" id="uploadImg" name="uploadImg" accept="images/*">
                  </label>
                </div>
              </div>
            </center>
          <div class="form-group">
            <label class="col col-lg-2 col-md-2 control-label" for="name">Your Name <span class="required">*</span></label>
            <div class="col col-lg-7 col-md-7">
              <input type="text" name="name" id="name" class="form-control" value="<%= user.name %>" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col col-lg-2 col-md-2 control-label" for="phone">Phone Number <span class="required">*</span></label>
            <div class="col col-lg-7 col-md-7">
              <input type="text" name="phone" id="phone" class="form-control" value="<%= user.phone %>" placeholder="Enter your phone number" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col col-lg-2 col-md-2 control-label" for="address">Address <span class="required">*</span></label>
            <div class="col col-lg-2 col-md-4">
              <select id="region" name="region" class="form-control selectpicker">
                  <option value="">Select a Region</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                </select>
            </div>
            <div class="col col-lg-2 col-md-4">
              <select id="city" name="city" class="form-control selectpicker">
                  <option value="">Select a City</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                </select>
            </div>
            <div class="col col-lg-3 col-md-5">
              <input type="text" name="address" id="address" class="form-control" placeholder="No.7,Aung Thu Kha street" required>
            </div>
          </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary" style="width:150px; height:47px;">Cancle</button>&nbsp&nbsp&nbsp
              <button type="submit" id="save" class="btn btn-success">Save Change</button>
            </div>
            </div>
          </form>

      </main>
      <!-- END MAIN CONTENT -->

      <!-- BEGIN FOOTER -->
      <% include ../partial/footer.ejs %>

        <!-- Gmaps API -->


</body>
<script src="http://maps.google.com/maps/api/js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.js" charset="utf-8"></script>
<script src="/scripts/map-objects-data.js"></script>

<!-- Plugins js -->
<script src="/scripts/plugins.js"></script>

<!-- Main js -->
<script src="/scripts/main.js"></script>
<script type="text/javascript">
$(function() {
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('#photo').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#uploadImg").change(function() {
    readURL(this);
  });
});
</script>
</html>
