<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/demo.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/set2.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  <script src="/javascripts/jquery.validate.js" charset="utf-8"></script>
  <script src="/javascripts/classie.js" charset="utf-8"></script>
  <script src="/javascripts/jquery.cookie.js"></script>
</head>
<body style="background-color:#7878ff;">


  <p class="tip">Registration to <b>ATUTU</b></p>
<div class="cont">
  <!-- sign in start -->
  <form name="frmIn" action="/signin" method="post">
    <input type="hidden" name="forward" value="<%=locals.messages.forward%>">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <% if(locals.messages.warn){%>
    <div class="alert alert-warning alert-dismissible" role="alert" style="width:70%;">
        <strong>Warning!</strong><br><%=messages.warn%>
    </div>
    <%}%>
    <span class="input input--fumi">
      <input class="input__field input__field--fumi" type="text" name="emailIn" id="emailIn" required/>
      <label class="input__label input__label--fumi" for="emailIn">
        <i class="fa fa-fw fa-key icon icon--fumi"></i>
        <span class="input__label-content input__label-content--fumi">Email or ID</span>
      </label>
    </span>
    <span class="input input--fumi">
      <input class="input__field input__field--fumi" type="password" name="passwordIn" id="passwordIn" />
      <label class="input__label input__label--fumi" for="passwordIn">
        <i class="fa fa-fw fa-unlock-alt icon icon--fumi"></i>
        <span class="input__label-content input__label-content--fumi">Password</span>
      </label>
    </span>
    <input type="checkbox" name="rememberMe" id="rememberMe" value="">
    <div class="rem">
      <label for="rememberMe">Remember Me</label>
      <a href="#">For get Password?</a>
    </div>

    <div class="move">
      <button type="submit" class="submit">Sign In</button>
      <button type="button" class="fb-btn">Connect with <span>facebook</span></button>
    </div>
  </div>
</form>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and donation for another people who really need for help</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <form id="sign_up" name="frm" action="/signup" method="post">
    <div class="form sign-up">
      <h2 >Sign up for Help</h2>
      <span class="input input--fumi">
        <input class="input__field input__field--fumi" type="text" name="name" id="name" required/>
        <label class="input__label input__label--fumi" for="name">
          <i class="fa fa-fw fa-user icon icon--fumi"></i>
          <span class="input__label-content input__label-content--fumi">Name</span>
        </label>
      </span>
      <span class="input input--fumi">
        <input class="input__field input__field--fumi" type="text" name="id" id="id" required/>
        <label class="input__label input__label--fumi" for="id">
          <i class="fa fa-fw fa-key icon icon--fumi"></i>
          <span class="input__label-content input__label-content--fumi">ID</span>
        </label>
      </span>
      <span class="input input--fumi">
        <input class="input__field input__field--fumi" type="email" name="email" id="email" />
        <label class="input__label input__label--fumi" for="email">
          <i class="fa fa-fw fa-at icon icon--fumi"></i>
          <span class="input__label-content input__label-content--fumi">Email</span>
      </span>
      <span class="input input--fumi">
        <input class="input__field input__field--fumi" type="text" name="phone" id="phone" />
        <label class="input__label input__label--fumi" for="phone">
          <i class="fa fa-fw fa-mobile icon icon--fumi"></i>
          <span class="input__label-content input__label-content--fumi">Phone</span>
        </label>
      </span>
      <span class="input input--fumi">
        <input class="input__field input__field--fumi" type="password" name="password" id="password" />
        <label class="input__label input__label--fumi" for="password">
          <i class="fa fa-fw fa-unlock-alt icon icon--fumi"></i>
          <span class="input__label-content input__label-content--fumi">Password</span>
        </label>
      </span>
      <span class="input input--fumi">
        <input class="input__field input__field--fumi" type="password" name="confpassword" id="confpassword" />
        <label class="input__label input__label--fumi" for="confpassword">
          <i class="fa fa-fw fa-check icon icon--fumi"></i>
          <span class="input__label-content input__label-content--fumi">Confirm Password</span>
        </label>
      </span>
      <div class="move">
        <button type="submit" class="submit">Sign Up</button>
        <button type="button" class="fb-btn">Join with <span>facebook</span></button>
      </div>

    </div>
    </form>
  </div>
  <script type="text/javascript">
            $(function () {
              $.validator.addMethod("pwcheck", function(value) {
                      return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                          && /[a-z]/.test(value) // has a lowercase letter
                          && /[A-Z]/.test(value) // has a uppercase letter
                          && /\d/.test(value) // has a digit
                          && /(\b(?:([A-Za-z0-9])(?!\2{4}))+\b)/.test(value) //don't repeate more than 2
                   });

              $.validator.addMethod("idcheck",function (value) {
                return !(/\s/.test(value)) //can't allow space
              });

              $.validator.addMethod("phcheck",function (value) {
                return /^\d*(?:\.\d{1,2})?$/.test(value)
              });

              $.validator.addMethod("pwcheck2", function (value) {
                if( value.indexOf($('#email').val()) > 0 ){
                  return false;
                }
                return true;
              });
                $('#sign_up').validate({
                    rules: {
                        'confpassword': {
                            equalTo: '[name="password"]'
                        },
                        'id':{
                          idcheck: true,
                        },
                        'phone':{
                          phcheck: true,
                        },
                        'password':{
                          pwcheck: true,
                          pwcheck2: true
                        }
                    },
                    messages: {
                      password: {
                        pwcheck:"Please input at least 1 Upper, 1 lower, 1 digit and don't more 4 same word",
                        pwcheck2: "Do not contain your Email...",

                      },
                      id:{
                        idcheck :"Do not allow space...",
                      },
                      phone:{
                        phcheck: "Please enter phone number english only",
                      },
                    }

                });
                $('#id').blur(function () {
                  var data = { id: $('#id').val()};
                  if(data.id == '') return ;
                  $.ajax({url: "/signup/duplicate", data:data, type: 'POST', success: function (result) {
                    if (result.status == false) {
                      alert(result.msg);
                      $('#id').val('');
                      $('#id').focus();
                    }
                  }});
                });
                //when submit
                frmIn.onsubmit = function () {
                  if(frmIn.rememberMe.checked){
                    $.cookie("emailIn", frmIn.emailIn.value,{ expires : 7});
                  }else {
                    $.removeCookie("emailIn");
                  }
                }

                //on load
                if($.cookie("emailIn")){
                  frmIn.emailIn.value = $.cookie("emailIn");
                  frmIn.rememberMe.checked = true;
                }
            });
            document.querySelector('.img__btn').addEventListener('click', function() {
            document.querySelector('.cont').classList.toggle('s--signup');
      });

  </script>

</div>
</body>
</div>
</html>
