<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
      <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <p class="tip">Registration to <b>ATUTU</b></p>
<div class="cont">
  <!-- sign in start -->
  <form name="frm" action="/signin" method="post">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <label>
      <span>Email or ID</span>
      <input type="type" name="email" id="email" />
    </label>
    <label>
      <span>Password</span>
      <input type="password" name="password" id="password" />
    </label>
    <p class="forgot-pass">Forgot password?</p>
    <button type="submit" class="submit">Sign In</button>
    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>
  </div>
</form>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and donation for another people who really need for help</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <form name="frm" action="/signup" method="post">
    <div class="form sign-up">
      <h2>Sign in for Help</h2>
      <label>
        <span>Name</span>
        <input type="text" name="name" id="name" required />
      </label>
      <label>
        <span>Id</span>
        <input type="text" name="id" id="id" required />
      </label>
      <label>
        <span>Email</span>
        <input type="email" name="email" id="email" />
      </label>
      <label>
        <span>Phone</span>
        <input type="phone" name="phone" id="phone" />
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password" id="password" required/>
      </label>
      <label>
        <span>Confirm Password</span>
        <input type="password" name="confpassword" id="confpassword" required/>
      </label>
      <button type="submit" class="submit">Sign Up</button>
      <button type="button" class="fb-btn">Join with <span>facebook</span></button>
    </div>
    </form>
  </div>
</div>
  <script type="text/javascript">
      document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
      });
  </script>

</body>
</div>
</html>
