<footer class="site-footer">
    <div class="site-footer-inner">
        <div class="container">
            <div class="row">
                <div class="col col-lg-4 col-md-4 col-sm-6">
                    <h3>Get in touch</h3>
                    <p>Unde sunt sed cupiditate quaerat saepe inventore, qui iste perferendis dolorem provident quidem repellat reiciendis repellendus.</p>
                    <div class="contacts-info">
                        <p><i class="fa fa-phone"></i> (205) 123 456 789 – 888</p>
                        <p><i class="fa fa-envelope-open-o"></i> info@company.com</p>
                    </div>
                    <ul class="social-nav">
                        <li><a href=""><i class="fa fa-vimeo"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-6">
                    <h3>Subscribe to our newsletter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste facere aperiam? Porro quaerat, magni blanditiis assumenda ullam delectus, laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, illo?</p>
                    <form class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="mail@yoursite.com" required>
                            <button><i class="fa fa-send"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <a href="contact.html" class="btn-map">
                        <span>
                            <i class="fa fa-map-marker"></i>
                            Find nearest centre
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer-bar">
        <div class="container no-padding text-center">
            <div class="copyright">Copyright 2017 ©. All Rights Reserved. Handcrafted by <a href="https://themeforest.net/user/themepatico">Themepatico</a></div>
        </div>
    </div>
</footer>
