<header class="site-header">
    <div class="site-header-bar">
        <div class="container">
            <div class="row">
                <div class="col col-lg-6">
                    <div class="contacts-info">
                        <p><i class="fa fa-phone"></i> (+95) 09777111437</p>
                        <p><i class="fa fa-envelope-open-o"></i> www.atutu.org</p>
                    </div>
                </div>
                <div class="col col-lg-6">
                    <div class="social">
                        <h3>Follow us:</h3>
                        <ul class="social-nav">
                            <li><a href=""><i class="fa fa-vimeo"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-header-inner">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="images/atutu2.jpg" width="75" height="75" alt="ATUTU"></a>
            </div>
            <nav class="main-nav">
                <ul>
                    <li class="main-nav-item active">
                        <a class="main-nav-link" href="index.html">Home</a>
                    </li>
                    <li class="main-nav-item main-nav-item-parent ">
                        <a class="main-nav-link" href="#">Pages</a>
                        <ul>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="volunteering.html">Volunteering</a></li>
                            <li><a href="help.html">Help &amp; Support</a></li>
                            <li><a href="profile.html">Profile</a></li>
                        </ul>
                    </li>
                    <li class="main-nav-item main-nav-item-parent ">
                        <a class="main-nav-link" href="news.html">News</a>
                        <ul>
                            <li><a href="news.html">News grid</a></li>
                            <li><a href="news-with-sidebar.html">News with sidebar</a></li>
                            <li><a href="article.html">Article</a></li>
                        </ul>
                    </li>
                    <li class="main-nav-item main-nav-item-parent ">
                        <a class="main-nav-link" href="causes.html">Causes</a>
                        <ul>
                            <li><a href="causes.html">Causes grid</a></li>
                            <li><a href="causes-with-sidebar.html">Causes with sidebar</a></li>
                            <li><a href="cause.html">Cause</a></li>
                            <li><a href="donate.html">Donate</a></li>
                        </ul>
                    </li>
                    <li class="main-nav-item main-nav-item-parent ">
                        <a class="main-nav-link" href="events.html">Events</a>
                        <ul>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="events-with-sidebar.html">Events with sidebar</a></li>
                            <li><a href="event.html">Event</a></li>
                        </ul>
                    </li>
                    <li class="main-nav-item main-nav-item-parent ">
                        <a class="main-nav-link" href="shop.html">Shop</a>
                        <ul>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="product.html">Product</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="main-nav-item ">
                        <a class="main-nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
                <button type="button" class="main-nav-toggle-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </nav>
            <ul class="user-nav">
                <li class="user-nav-item">
                    <a class="user-nav-link" href="cart.html">
                        <i class="fa fa-shopping-basket"></i>
                        <sup>8</sup>
                    </a>
                </li>
                <li class="user-nav-item">
                    <a class="user-nav-link" href="profile.html">
                        <i class="fa fa-user-o"></i>
                    </a>
                </li>
                <li class="user-nav-item">
                    <button type="button" class="user-nav-link user-nav-search-link">
                        <i class="fa fa-search"></i>
                    </button>
                </li>
            </ul>
            <button type="button" class="user-nav-toggle-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
<!-- BEGIN SEARCH -->
<div class="site-search">
    <div class="site-search-inner">
        <div class="container">
            <form class="site-search-form">
                <h2>Looking for something?</h2>
                <div class="input-group">
                    <input class="form-control" type="search" required>
                    <span class="input-group-btn">
                         <button type="submit" class="btn btn-primary">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <button type="button" class="site-search-close-btn">×</button>
</div>
<!-- END SEARCH -->
