<div class="site-search">
    <div class="site-search-inner">
        <div class="container">
            <form class="site-search-form">
                <h2>Looking for something?</h2>
                <div class="input-group">
                    <input class="form-control" type="search" required>
                    <span class="input-group-btn">
                         <button type="submit" class="btn btn-primary">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <button type="button" class="site-search-close-btn">×</button>
</div>
