<!doctype html>
<html lang="zxx">

<head>
  <% include ../partial/head.ejs %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.snow.css">
  <!-- <link  href="/css/cropper.css" rel="stylesheet">
  <link  href="/stylesheets/cropper.css" rel="stylesheet"> -->
  <link  href="/stylesheets/remodal-default-theme.css" rel="stylesheet">
  <link  href="/stylesheets/remodal.css" rel="stylesheet">

  <style media="screen">
  .img-label img{
    width: 25rem;
  }
  .img-label{
    cursor: pointer;
  }
  .img-container img{
    max-width: 100%;
  }

  .remodal-bg.with-red-theme.remodal-is-opening,
  .remodal-bg.with-red-theme.remodal-is-opened {
    filter: none;
  }

  .remodal-overlay.with-red-theme {
    background-color: #f44336;
  }

  .remodal.with-red-theme {
    background: #fff;
  }
  </style>
</head>

<body>

  <div id="wrapper" class="wrapper">

    <!-- BEGIN HEADER -->
    <% include ../partial/header.ejs %>


      <main class="site-content">

        <div class="container no-top-padding">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="shop.html">Campaign</a></li>
            <li class="active">Create campaign</li>
          </ol>
          <header class="page-header">
            <h1>Create Campaign</h1>
          </header>
          <form class="checkout-form form-horizontal" name="frm" enctype="multipart/form-data">
            <h2>Campaign details</h2>

            <div class="form-group">
              <label class="col col-lg-2 col-md-2 control-label" for="categories">Categories <span class="required">*</span></label>
              <div class="col col-lg-10 col-md-10">
                <select id="categories" name="categories" class="form-control selectpicker" multiple>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col col-lg-2 col-md-2 control-label" for="camp-name">Campaign Name <span class="required">*</span></label>
              <div class="col col-lg-10 col-md-10">
                <input type="text" name="camp-name" id="camp-name" class="form-control" placeholder="Heart Of Help" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col col-lg-2 col-md-2 control-label" for="brief">Brief <span class="required">*</span></label>
              <div class="col col-lg-10 col-md-10">
                <input type="text" name="brief" id="brief" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col col-lg-2 col-md-2 control-label" for="story">Story <span class="required">*</span></label>
              <div class="col col-lg-10 col-md-10">
                <div id="editor">

                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col col-lg-2 col-md-2 control-label " for="image">Image <span class="required">*</span></label>
              <div class="col col-lg-10 col-md-10">
                    <label class="img-label" data-toggle="tooltip" title="Select photo">
                        <img class="rounded" id="photo" src="/images/upload.png" alt="Image">
                        <input type="file" class="sr-only" id="uploadImg" name="uploadImg" accept="images/*">
                    </label>
              </div>
            </div>

            <div class="form-group">
              <label class="col col-lg-2 col-md-2 control-label" for="address">Address <span class="required">*</span></label>
              <div class="col col-lg-3 col-md-10">
                <select id="region" name="region" class="form-control selectpicker">
                  <option value="">Select a Region</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                </select>
              </div>
              <div class="col col-lg-3 col-md-10">
                <select id="city" name="city" class="form-control selectpicker">
                  <option value="">Select a City</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                </select>
              </div>
              <div class="col col-lg-4 col-md-10">
                  <input type="text" name="address" id="address" class="form-control" placeholder="No.7,Aung Thu Kha street" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col col-lg-2 col-md-2 control-label" for="postcode">Goal <span class="required">*</span></label>
              <div class="col col-lg-4 col-md-10">
                <input type="number" name="goal" id="goal" class="form-control" placeholder="Amount" min="1" required>
              </div>
              <div class="col col-lg-3 col-md-10">
                <input type="text" name="th" id="th" class="form-control" value="0,000" readonly>
              </div>
              <div class="col col-lg-3 col-md-10"  >
                <p style="background-color:gray;font-size:25px; color:black; text-align:center;">Kyats</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col col-lg-2 col-md-2 control-label" for="end-date">End date <span class="required">*</span></label>
              <div class="col col-lg-10 col-md-10">
                <input type="date" name="end-date" id="end-date" class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col col-lg-2 col-md-2 control-label" for="tags">Tags</label>
              <div class="col col-lg-10 col-md-10">
                <input type="text" name="tags" id="tags" class="form-control" placeholder="#Education, #Children" >
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-lg btn-primary">Save</button>

            </div>
          </form>
        </div>
        <div class="remodal"  data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
          <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
          <div>
              <div class="img-container">
                <img src="/images/upload.png" id="sourceImg" alt="">
              </div>
          </div>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
          <button data-remodal-action="confirm" id="crop" class="remodal-confirm">Crop</button>
        </div>

      </main>
      <!-- END MAIN CONTENT -->

      <!-- BEGIN FOOTER -->
      <% include ../partial/footer.ejs %>

        <!-- Gmaps API -->


</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://maps.google.com/maps/api/js"></script>
<script src="/scripts/map-objects-data.js"></script>

<!-- Plugins js -->
<script src="/scripts/plugins.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.js" charset="utf-8"></script>
<!-- <script src="/js/jquery.js" charset="utf-8"></script> -->
<!-- Main js -->
<script src="/scripts/main.js"></script>
<script src="/javascripts/remodal.js" charset="utf-8"></script>
<!-- <script src="/javascripts/jquery.js" charset="utf-8"></script> -->
<!-- <script src="/javascripts/modals.js" charset="utf-8"></script> -->
<!-- <script src="/javascripts/cropper.js" charset="utf-8"></script>
<script src="/javascripts/jquery-cropper.js" charset="utf-8"></script> -->

<script type="text/javascript">

var quill = new Quill('#editor', {
  modules: { toolbar: true },
  theme: 'snow'
});

  window.REMODAL_GLOBALS = {
    NAMESPACE: 'remodal',
    DEFAULTS: {
      hashTracking: true,
      closeOnConfirm: true,
      closeOnCancel: true,
      closeOnEscape: true,
      closeOnOutsideClick: true,
      modifier: ''
    }
  };

  jQuery.noConflict();
    $(function () {
    $modal = $('[data-remodal-id=modal]').remodal();

         var uploadImg = document.getElementById('uploadImg'); // upload file
         var sourceImg = document.getElementById('sourceImg');
         uploadImg.addEventListener('change', function (e) {
             var files = e.target.files;
             var done = function (url) {
               uploadImg.value = '';
              sourceImg.src = url;
               $modal.open()
             };
             var reader;
             var file;
             var url;
             if (files && files.length > 0) {
               file = files[0];
               if (URL) {
                 done(URL.createObjectURL(file));
               } else if (FileReader) {
                 reader = new FileReader();
                 reader.onload = function (e) {
                   done(reader.result);
                 };
                 reader.readAsDataURL(file);
               }
             }
         });
         var cropper;
         var canvas;

         /*
         $('#crop').click( function () {
           $modal.close();
           if (cropper) {
             canvas = cropper.getCroppedCanvas({
               width: 320,
               height: 180,
             });
             $('#photo').attr('src', canvas.toDataURL() ); // change cropped image
           }
         });*/
         $(document).on('opened', '.remodal', function () {
           console.log('open....');
           cropper = new Cropper(sourceImg, {
               aspectRatio: 16 / 9,
               viewMode: 1,
           });
         });

         $(document).on('closed', '.remodal', function (e) {
           console.log('closed' + (e.reason ? ', reason: ' + e.reason : ''));
           cropper.destroy();
           cropper = null;
         });
         $('#save').click(function(){
             canvas.toBlob(function (blob) {
                 var formData = new FormData(document.querySelector('form'));
                 formData.append('photo', blob);
                 formData.append('contents', quill.container.firstChild.innerHTML);
                 $.ajax('/admin/posts/add', {
                   method: 'POST',
                   data: formData,
                   processData: false,
                   contentType: false,
                   success: function (rtn) {
                       console.log(rtn);
                   },
                   error: function (err) {
                       console.log(err);
                   },
                   complete: function () {
                       console.log('complate');
                   },
                 });
             });
         });
       });
</script>
<script type="text/javascript">

/*
    $(document).on('opened', '.remodal', function () {
      console.log('opened');
    });

    $(document).on('closing', '.remodal', function (e) {
      console.log('closing' + (e.reason ? ', reason: ' + e.reason : ''));
    });

    $(document).on('closed', '.remodal', function (e) {
      console.log('closed' + (e.reason ? ', reason: ' + e.reason : ''));
    });

    $(document).on('confirmation', '.remodal', function () {
      console.log('confirmation');
    });

    $(document).on('cancellation', '.remodal', function () {
      console.log('cancellation');
    });
*/
</script>

</html>
