<!doctype html>
<html lang="zxx">
<head>
    <% include ../partial/head.ejs %>
</head>
<body >

    <div id="wrapper" class="wrapper">

        <!-- BEGIN HEADER -->
        <% include ../partial/header.ejs %>
        <!-- END HEADER -->

        <!-- BEGIN SEARCH -->
        <% include ../partial/search.ejs %>
        <!-- END SEARCH -->

        <!-- BEGIN MAIN CONTENT -->
        <main class="site-content">

<div class="container no-top-padding">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">Causes</li>
	</ol>
	<header class="page-header">
		<h1>Causes</h1>
	</header>
	<div class="row grid posts">
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="post post-card">
				<header class="post-header">
					<div class="post-category"><a href="">Health</a></div>
					<div class="post-thumb">
						<img src="/images/cause-photo-1.jpg" width="800" height="600"  alt="">
					</div>
					<div class="post-header-inner">
						<h3><a href="cause.html">Children’s health fund</a></h3>
						<div class="cause-progress">
							<div class="cause-progress-val">
								<div class="cause-progress-raised">Raised <span>$11,300</span></div>
								<div class="cause-progress-goal">Goal <span>$15,000</span></div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</header>
				<div class="post-entry">
					<p>Quibusdam quae ipsam at mollitia dolorem quam ipsa vero. Similique, illum. Veritatis cumque et est nam alias quisquam officiis quam, dolores delectus.</p>
					<div class="text-center">
						<a href="cause.html" class="btn btn-default">Donate</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="post post-card">
				<header class="post-header">
					<div class="post-category"><a href="">Animals</a></div>
					<div class="post-thumb">
						<img src="/images/cause-photo-2.jpg" width="800" height="600"  alt="">
					</div>
					<div class="post-header-inner">
						<h3><a href="cause.html">Establishment of educational infrastructure</a></h3>
						<div class="cause-progress">
							<div class="cause-progress-val">
								<div class="cause-progress-raised">Raised <span>$9,800</span></div>
								<div class="cause-progress-goal">Goal <span>$20,000</span></div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</header>
				<div class="post-entry">
					<p>Sed provident, asperiores, adipisci minus officia mollitia itaque. Voluptate temporibus, quidem praesentium, unde magni itaque error suscipit.</p>
					<div class="text-center">
						<a href="cause.html" class="btn btn-default">Donate</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="post post-card">
				<header class="post-header">
					<div class="post-category"><a href="">Health</a></div>
					<div class="post-thumb">
						<img src="/images/cause-photo-3.jpg" width="800" height="600"  alt="">
					</div>
					<div class="post-header-inner">
						<h3><a href="cause.html">Help Tommy to start a new life</a></h3>
						<div class="cause-progress">
							<div class="cause-progress-val">
								<div class="cause-progress-raised">Raised <span>$4,700</span></div>
								<div class="cause-progress-goal">Goal <span>$8,000</span></div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="59" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</header>
				<div class="post-entry">
					<p>Minus cum adipisci assumenda cupiditate voluptatem vel nihil sed perferendis, natus rem! Ea neque cumque cupiditate libero doloremque!</p>
					<div class="text-center">
						<a href="cause.html" class="btn btn-default">Donate</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="post post-card">
				<header class="post-header">
					<div class="post-category"><a href="">Education</a></div>
					<div class="post-thumb">
						<img src="/images/cause-photo-4.jpg" width="800" height="600"  alt="">
					</div>
					<div class="post-header-inner">
						<h3><a href="cause.html">Preventing the extinction of rare species of animals</a></h3>
						<div class="cause-progress">
							<div class="cause-progress-val">
								<div class="cause-progress-raised">Raised <span>$11,300</span></div>
								<div class="cause-progress-goal">Goal <span>$42,000</span></div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</header>
				<div class="post-entry">
					<p>Pariatur nulla quo repudiandae eum porro minus iusto, non? Officiis nihil, quae temporibus dolorum veniam cupiditate laudantium.</p>
					<div class="text-center">
						<a href="cause.html" class="btn btn-default">Donate</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="post post-card">
				<header class="post-header">
					<div class="post-category"><a href="">Health</a></div>
					<div class="post-thumb">
						<img src="/images/cause-photo-5.jpg" width="800" height="600"  alt="">
					</div>
					<div class="post-header-inner">
						<h3><a href="cause.html">Lily needs your help</a></h3>
						<div class="cause-progress">
							<div class="cause-progress-val">
								<div class="cause-progress-raised">Raised <span>$3,900</span></div>
								<div class="cause-progress-goal">Goal <span>$5,000</span></div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</header>
				<div class="post-entry">
					<p>Impedit, exercitationem? Corrupti sed dolorem impedit molestiae. Rerum qui maiores voluptates asperiores, laudantium aspernatur illo?</p>
					<div class="text-center">
						<a href="cause.html" class="btn btn-default">Donate</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="post post-card">
				<header class="post-header">
					<div class="post-category"><a href="">Food</a></div>
					<div class="post-thumb">
						<img src="/images/cause-photo-6.jpg" width="800" height="600"  alt="">
					</div>
					<div class="post-header-inner">
						<h3><a href="cause.html">Provide humanitarian assistance to people</a></h3>
						<div class="cause-progress">
							<div class="cause-progress-val">
								<div class="cause-progress-raised">Raised <span>$28,100</span></div>
								<div class="cause-progress-goal">Goal <span>$32,000</span></div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</header>
				<div class="post-entry">
					<p>Vero iste, veritatis ipsum reiciendis pariatur nostrum perferendis earum omnis obcaecati. Quisquam, pariatur illum deleniti suscipit.</p>
					<div class="text-center">
						<a href="cause.html" class="btn btn-default">Donate</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav aria-label="Page navigation" class="text-center">
		<ul class="pagination">
			<li>
				<a href="#" aria-label="Previous">
					<i class="fa fa-caret-left" aria-hidden="true"></i>
				</a>
			</li>
			<li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li>
				<a href="#" aria-label="Next">
					<i class="fa fa-caret-right" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</nav>

</div>


        </main>
        <!-- END MAIN CONTENT -->

        <!-- BEGIN FOOTER -->
        <% include ../partial/footer.ejs %>
        <!-- END FOOTER -->

    </div>

    <!-- Gmaps API -->
    <!-- <script src="http://maps.google.com/maps/api/js"></script>
    <script src="scripts/map-objects-data.js"></script> -->

    <!-- Plugins js -->
    <!-- <script src="scripts/plugins.js"></script> -->

    <!-- Main js -->
    <!-- <script src="scripts/main.js"></script> -->

</body>
</html>
